body {
    background-image: linear-gradient(to right, lightcyan, yellow)
}

a {
    color: deepskyblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.odjava {
    display: block;
    text-align: right;
    float: right;
}

.korisnik {
    display: block;
    text-align: left;
    float: left;
}

label {
    color: orange;
    text-align: left;
    horiz-align: left;
}

h2 {
    color: orange;
    text-align: center;
    padding: 0;
    margin: 0;
}

button {
    height: 7vh;
    width: 15%;
    font-size: 18px;
    color: deepskyblue;
    width: 40%;
    border: 2px orange solid;
}

.forma {
    padding: 2%;
    width: fit-content;
    margin: auto;
    border: 2px deepskyblue solid;
}

form {
    text-align: center;
    font-size: 20px;
}

input {
    height: 5vh;
    width: 45%;
    border: 1px deepskyblue solid;
    horiz-align: right;
}

textarea {
    border: 1px deepskyblue solid;
}

table {
    width: 100%;
    text-align: center;
}

.slikaKreiranje {
    width: 100%;
}

img {
    display: block;
    width: 70%;
    height: 80vh;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 50%;
}

.dodajMaterijalTd {
    vertical-align: bottom;
    height: 30vh;
}

.formaTd {
    vertical-align: top;
}

.formaMaterijal {
    padding: 2%;
    width: 90%;
    margin: auto;
    border: 2px deepskyblue solid;
}